/*==== NEUES FÜR 2020 ====*/

/*___________________________________________________________________LIGHT________________________________________________*/
.main-content_light{
  width: 100%;
  margin: 0;
}
.btn-secondary{
  width: fit-content;
  padding: 0.5em;
  background-color: $color-primary;
  margin-top: 1rem;
  color: #fff;
  :hover{
    background-color: $color-secondary;
  }

}
.col-3 {
  margin: auto !important;
}

.rund {
  .image_container{
    border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  }
  }
  .fa-check {
    color: $color-secondary;
  }
  
  .korr-sprungmarke{
	visibility: hidden; 
	height: 0px !important; 
	position: absolute; 
	margin: -80px;
	}
	
/*   form .form-row {
    display: none;
}  */	
			   
/*________________________________________________________________________________________________________________________*/

/*__Navigation mit zentralem Logo__*/
.main-navigation-central{
  overflow: hidden;
  display:none;
  font-weight: 600;
  float: none;
  width: 100%;
  justify-content: center;
}
.main-navigation-mobile-central{
  display: block;
  margin: 2em 0 0.8em 6.25%;
  height: 2.7222em;
  position: relative;
  width: auto;
  float: right;
}
.opensauce-fullwidth .rs-column.-large-col-2-1{
  width: 100%;
}
.rm-logo_central {
  margin: 25px auto 0;
  max-width:300px;
}
#necessarymargin{
  margin-top: -70px;
}
/*__Text-Overlay im Header__*/

.container {
  position: absolute;
  font-size: 2.5rem;
  bottom: 10%;
  left: 0;
  right: 0;
  p{
    display: block;
    background: #fff;
    margin-bottom: 10px;
    padding: 5px 20px;
    width: fit-content;
    margin-block-end: 0;
    
}
  }


/*__anderer Hover-Effekt__*/

  .text-rise_second {
    .image_container {
      background-color: $color-secondary;
      &:hover {
        img {
      opacity: 0.25;
      }
        .caption{
         
        }
        }
      }
      figcaption {
      opacity: 0.9;
      font-size: 1.3rem !important;
      color: #fff !important;
      position: absolute;
      bottom: -270px;
      /* left: 15%; */
      text-align: center;
      /* text-transform: lowercase; */
      font-family: $font-secondary;
      /* right: 15%; */
      width: 100%;
      height: 122px;
      background-color: $color-tertiary;
      transform: translateY(-200px);
      transition-duration: 0.5s;
  }
  }
		    

/*__Hintergrundfläche mit 50/50 Bildgröße + Galerie__*/

.background_area{
  background-color: #f3f3f3;
  border: 1px solid $color-primary;
  width: 100%;
  height: auto;
  padding: 2%;
  margin: 1.5em 0;
  .image_container.float_right, .image_container.float_left{
    width: 50%;
  }
      h1{
      color: $color-secondary;
	  border-bottom: 1px solid $color-secondary;
	  margin-bottom: 2rem;
    }
	  .newsletter a{
      color: $color-secondary;
    }
	  .back a{
      color: $color-secondary;
    }
	  .enclosure a{
      color: $color-secondary;
    }
	
}
.background_area2{
  background-color: $color-secondary;
  width: 100%;
  height: auto;
  padding: 2%;
  margin: 1.5em 0;
  .image_container.float_right, .image_container.float_left{
    width: 50%;
  }
      h1{
      color: $color-primary;
	  border-bottom: 1px solid $color-primary;
	  margin-bottom: 2rem;
    }
	  h2{
      color: $color-primary;
	  margin-bottom: 2rem;
    }
	  h3{
      color: #ffffff;
	  margin-bottom: 2rem;
    }
	  p{
      color: #ffffff;
    }
	  .newsletter a{
      color: #ffffff;
    }
	  .back a{
      color: #ffffff;
    }
	  .enclosure a{
      color: #ffffff;
    }
	  a:hover{
	  color: $color-primary;
	  }
	
}

.background_area3{
  background-color: $color-tertiary;
  background-image: url(/files/Inhalte/Bilder/muster1.jpg);
  background-blend-mode: soft-light;
  border: 1px solid $color-primary;
  width: 100%;
  height: auto;
  padding: 2%;
  margin: 1.5em 0;
  .image_container.float_right, .image_container.float_left{
    width: 50%;
  }
      h1{
      color: $color-secondary;
	  border-bottom: 1px solid $color-secondary;
	  margin-bottom: 2rem;
    }
	  h2{
      color: $color-secondary;
	  margin-bottom: 2rem;
    }
	  h3{
      color: $color-secondary;
	  margin-bottom: 2rem;
    }
	  .newsletter a{
      color: $color-secondary;
    }
	  .back a{
      color: $color-secondary;
    }
	  .enclosure a{
      color: $color-secondary;
    }
	
}





#full{
  width: 100%;
  .image_container.float_right, .image_container.float_left{
    width: 50%;
  }
}
.border_image{
  img{
    border: 1px solid $color-primary;
    padding: 4%;
    background-color: #fff;
  }
}

/*_______Kalendar____*/
.minicalendar{
  .head.previous a, .head.next a{
    color: #fff !important;
  }
}
.mod_calendar th.next a, .mod_calendar th.previous a{
  color: #fff !important;
  font-size: 11px;
}

/*___Zitate_____*/
.testimonial{
  font-size: 1rem;
}
  
  /*Overlayer statisches Bild mit Zitat*/
#overlayer{
  position: absolute;
  bottom: 0;
  left: 22%;
  background-color: rgba(0,0,0,0.2);
  color: white !important;
  border-radius: 7px;
  font-style: italic;
  p{
    color: white;
  }
  small{
    color: white;
  }
}

/*_____Formulare__*/
.main-content {
  input{
  width: 100%;
  height: 50px;
        }
  input[type=file] {
  width: 100%;
  height: 50px;
  padding: 11px;
}
  textarea{
    height: 150px !important;
    width: 100%;
  }
  fieldset{
    width: 100%;
    border: 0px !important;
  }
}
.main-content input[type="checkbox"] + label, #footer input[type="checkbox"] + label{
  font-size: 12px;
  display: inline;
  font-weight: normal;
}
fieldset{
  border: 0px  !important;
}
.main-content {
    input::-webkit-input-placeholder{
    font-size: 0.8rem;
          }
    input::-moz-placeholder{
    font-size: 0.8rem;
          }
    input:-ms-input-placeholder{
    font-size: 0.8rem;
          }
    input::-ms-input-placeholder{
    font-size: 0.8rem;
          }
    input::placeholder{
    font-size: 0.8rem;
          }
    textarea::-webkit-input-placeholder{
    font-size: 0.8rem;
          }
    textarea::-moz-placeholder{
    font-size: 0.8rem;
          }
    textarea:-ms-input-placeholder{
    font-size: 0.8rem;
          }
    textarea::-ms-input-placeholder{
    font-size: 0.8rem;
          }
    textarea::placeholder{
    font-size: 0.8rem;
          }
}
.twocolumnsform{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

/*____MMENU___*/
input{
  color: black;
}

.mm-menu a, .mm-menu a:active, .mm-menu a:hover, .mm-menu a:link {
color: #fff !important;
}

.mm-panels .btn-primary{
  background-color:  $color-primary-darken !important;
  padding: 14px;
  font-size: 12px;
  :hover{
    background-color: $color-tertiary !important;
  }
}
 .mm-panel_opened{
  scroll-behavior: auto;
}
.mm-panels input[type=search]{
  width: 66% !important;
  height: 45px;
}
.mm-panels .widget{
  display: inline;
}
.mm-panels h3{
  display: none;
}
.mm-navbar{
  background-color: $color-primary-darken;
  height: 50px;
}

.mm-panels>.mm-panel.mm-hasnavbar{
  padding-top: 0px;
}
.mm-navbar__title{
  color: #fff !important;
}
#mmenu{
  height: auto !important;
  overflow: auto;
  /* box-shadow: 0 0 50px rgba(0, 0, 0, 0.9); */
  i{
    padding: 10px 10px 10px 0px !important;
  }
}

#mmenu:not( .mm-menu ) {
        display: none;
    }

.mmenu .mod_search, .mmenu .socialicons {
	padding-left: 20px;
}

.mmenu .mod_customnav {
	width: 100%;
	li {
  padding: 10px 20px;	
  position: relative;
	}
	li.active {
		background: var(--mm-color-background-emphasis)
	}
	span {color: #fff}
}

.mm-wrapper-blocking body { overflow: scroll; }

/* h3.mm-listitem{
  display: none;
}
.mm-listitem {
color: #fff;
  .formbody{
    padding: 20px;
    width: 480px;
    .widget{
      display: inline;
      #ctrl_keywords_126{
        width: 75.375%;
      }
      .btn-primary{
        padding: 15px 10px;
      }
    }
  }
} */
.mm-menu .mm-listview>li .mm-next:after {
  border-color: rgba(255,255,255);
}
.mm-menu .mm-navbar a, .mm-menu .mm-navbar>*{
  color: white;
}
.mm-menu .mm-btn:after, .mm-menu .mm-btn:before{
  border-color: rgba(255,255,255);
}

.mm-menu .mm-btn:after, .mm-menu .mm-btn:before {
    border-color: #fff;
}

.mm-panel {
background: $color-primary;
}

.level_next_information{
  line-height: 3
  a{
    color: #fff;
  }
  h3{
    display: none;
  }
  ul li a:after{
    content: '';
    border-color: rgba(0,0,0,0.1);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    display: block;
    position: absolute;
    left: 20px; 
    right: 0;
    bottom: 0;
  }
}

/*___________GLightbox______*/
.goverlay {
  background: rgba(0,0,0,.85);
}
.glightbox-mobile .goverlay {
  background: rgba(0,0,0,.85);
}
    

/*___________Cookiebar alt______*/
.cookiebar__button{
  background-color: $color-primary !important;
  :hover{
    background-color: $color-tertiary !important;
  }
}

/*___________Cookiebar neu______*/
.cc-inner {
	font-size: 0.8rem;	
	label {
	font-size: 0.8rem;
	}
}

.cookiebar_default p {
    font-size: 0.8em;
}

.cookiebar_default .cc-inner {
    padding: 20px 25px;
	}
	
.contao-cookiebar.cc-active .cc-inner {
    width: 92vw;
    max-width: 500px;
    margin: -40px;
}

.cookiebar_default .cc-group .cc-detail-btn {
    font-size: 12px;
	}

.contao-cookiebar:before {
    content: "";
    display: inline-block;
    height: 90%;
    vertical-align: middle;
}


/*____________Footer______*/
.socialicons{
  list-style: none;
    margin: 0;
    padding: 0%;
    a{
      font-size: 2.5rem;
     }
  }
.socialicons li{
  font-size: 2.5rem;
  line-height: 1;
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  margin-left: 0;
  }
.footer-wrapper{
  max-width: 1200px;
  margin: auto;
  width: 100%;
  }


/*____________Youtube responsive______*/
.ce_youtube {
  position: relative;
  width: 100%;
  height: auto;
 }
  
 .ce_youtube iframe {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100% !important;
  height: 100% !important;
 }

.ce_youtube .video_container {
background: #d3d3d3;
}


/*______________Header Slider______*/
 .rsts-skin-default .rsts-active .rsts-caption {
  opacity: 1;
  transform: translate(0, 0);
}
.rsts-skin-default .rsts-caption {
  position: absolute;
  top: 70%;
  left: 20px;
  bottom: 60px;
  margin-right: 20px;
  padding: 5px 10px;
  border-radius: 3px;
  color: $color-primary;
  background-color: rgba(255,255,255,0.85);
  opacity: 0;
  transition: opacity 0.5s,transform 0.5s;
  font-size: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
}
  .rsts-main, .rsts-main * {
    box-sizing: border-box;
    margin: auto;
  } 
 

  /*__________Sitemap_______*/
  .sitemap .level_1 li{
    font-size: 1.2rem;
  }
  .sitemap .level_2 li{
    font-size: 1rem;
  }
  .mod_sitemap > ul > li:before{
    border: 1px solid #dedede;
    border-radius: 1.5px;
    color: $color-primary;
    content: "";
    display: inline-block;
    font: 0.5rem/1 "RockSolid Icons";
    padding: 0.66667em;
    position: relative;
    text-indent: 0;
    text-rendering: geometricprecision;
    top: -0.33333em;
}
/*__________Suche_________*/
.searchfunction{
  .widget{
    display: inline;
    .btn-primary{
      padding: 17px;
      width: 8em;
      font-size: 15px;
    }
  }
}
/*___________GooglemMaps___________*/
.googlemaps {
  position: relative; 
  padding-bottom: 56.25%;
  height: 0; 
  overflow: hidden; 
  width: 100%;
  height: auto;
}
.googlemaps iframe {

  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}

.dlh_googlemap {
	background: #f7f7f7;
}

#confirm-googlemaps {
    background: #d3d3d3;
    padding: 15px;
    font-size: .9rem;
    width: 90%;
    margin: auto;
    left: 0;
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


/*________Image Container_____*/
.image_container figcaption, .image_container .caption{
  font-size: 0.9em;
}

.image_container{
  a.hyperlink_img::before{
    content: none;
  }
}
/*===Breadcrumb - Navigation===*/

//Teaser Box Styling
 .teaser-box {
  padding: 8px;
  margin-bottom: 15px;
  margin-top: 20px;
  width: 100%;
  height: fit-content;
  /* outline: 1px solid $color-primary; */
  border: 5px solid transparent;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #E4E4E4;
  border-radius: 6px;
  .btn-primary{
    background-color: $color-primary;
    height: 35px;
  }
  .btn-primary:hover{
      background-color: $color-secondary;
    }
  .btn-primary:not(:disabled):not(.disabled):active{
    background-color: $color-tertiary;
  }
  }
.main-content fieldset label:after{
  content: unset !important;
}

.teaser-box:hover {
  outline: 0px solid transparent;
  /* border: 5px solid $color-secondary; */
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #D2D2D2;
  border-radius: 15px;
}
.back a:before, .previous a:before, .next a:after{
  content: none;
}
.bc-nav {
  display: none; //wird Mobil ausgeblendet. Einstellungen in den MediaQueries
  max-width: 1120px;
}

.logo-bc-nav {
  margin-top: -1em;
	max-height: 10px;
	width: 100%;
	float: left;

}

.bc-navigation-wrapper {
    border-top: 1px solid #dedede;
    font-size: 0.5rem;
    font-weight: 600;
    margin: 3.33333em 0 0;
    overflow: hidden;
    padding: 1.83333em 0;
    text-transform: uppercase;
}

.bc-navigation li::before {
    content: " · ";
    margin-left: -1.3em !important;
	color:#ccc;
}

.bc-navigation li:first-child::before {
    content: "Sie sind hier:";
	  margin-left: 0.1em !important;
    margin-right: 0.6em !important;
}


.bc-navigation ul {
    margin: 0;
    padding: 0;
}
.bc-navigation li {
    display: inline;
}
.bc-navigation li::after {
    content: " ";
}
.bc-navigation a, .bc-navigation li > span {
    color: #8a8a8a !important;
    margin-right: 1.5em;
}

/*========================================================Main */



.content-wrapper {
  display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-wrap: wrap;
      margin: auto;
      max-width: 1200px;
      background: white;
      padding: 0 20px;
}

.main-content {
  width: 100%;
  margin: auto;
  padding-top: 1em;
    p {
      margin-top: 0px;

    }
}

.center-article {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
      .block {
        display: inline-block;
    }
}

/*===Buttons===*/

form button, input[type=submit], .button {
    font-size: 1em;
	}

button {
  cursor: pointer;
}

.btn-primary {
  background: $color-primary;
  padding: 0.5em;
  border-radius: 6px;
  border: none;
  width: fit-content;
	&:hover {
		border: none;
		background: $color-tertiary;
		color: #fff;
}
  &:active {
    border: none;
    background-color: $color-tertiary;
    color: #fff;
    box-shadow: none;
  }
  &:focus {
    border: none;
    background-color: $color-tertiary;
    color: #fff;
    box-shadow: none !important;
    outline: none !important;
  }
  a{
    color: #fff;
  }
  a:hover{
    text-decoration: none;
  }
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
  background-color: $color-tertiary;
}

/* .widget-submit {
  background: $color-primary;
  padding: 0.5em;
  border-radius: 6px;
  border: none;
  width: fit-content;
	&:hover {
		border: none;
		background: $color-tertiary;
		color: #fff;
}
  &:active {
    border: none;
    background-color: $color-tertiary;
    color: #fff;
    box-shadow: none;
  }
  &:focus {
    border: none;
    background-color: $color-tertiary;
    color: #fff;
    box-shadow: none !important;
    outline: none !important;
  }
  a{
    color: #fff;
  }
  a:hover{
    text-decoration: none;
  }
}
.widget-submit:not(:disabled):not(.disabled).active, .widget-submit:not(:disabled):not(.disabled):active, .show>.widget-submit.dropdown-toggle{
  background-color: $color-tertiary;
} */
.back .btn-primary{}
form button, input[type=submit], .button {
  background: $color-primary !important;
  padding: 0.5em;
  border-radius: 6px;
  border: none;
  width: fit-content;
  color: #fff !important;
	&:hover {
		border: none;
		background: $color-tertiary !important;
		color: #fff;
}
  &:active {
    border: none;
    background-color: $color-tertiary;
    color: #fff;
    box-shadow: none;
  }
  &:focus {
    border: none;
    background-color: $color-tertiary;
    color: #fff;
    box-shadow: none !important;
    outline: none !important;
  }
  a{
    color: #fff;
  }
  a:hover{
    text-decoration: none;
  }
}
form button, input[type=submit], .button:not(:disabled):not(.disabled).active, form button, input[type=submit], .button:not(:disabled):not(.disabled):active, .show>form button, input[type=submit], .button.dropdown-toggle{
  background-color: $color-tertiary;
}

/*===Formulare===*/
.main-content label {
	display: block;
    margin-bottom: 0.0625em;
    font-size: 1rem;
    width: 100%;
}

.check {
	font-size: 6rem;
    display: table;
    color: $color-secondary;
    line-height: 2rem;
}

.search-form {
  form {
    .formbody {
        #ctrl_keywords_62{
            width: 73% !important;
            }
            .btn {
              width: 25%;
            }
}
}
}

input[type=submit] {
  background: $color-primary;
  font-size: 1rem;
  padding: 10px;
  box-shadow: none;
  color: #fff;
  background-image: none;
  border: none;
}
/*========================================================Sidebar */
.sidebar__inner {
  display: block;
  justify-content: space-between;
  width: 100%;
}

.block-right {
  display: block;
  max-width: 100%;
}


.sidebar {
    width: 100%;
    position: relative;
    margin: 0;
      h1, h2, h3 {
        color: $color-primary;
        font-family: $font-secondary;
        font-size: 1rem;
        margin: 0px;
        padding-bottom: 0.64286em;
      }
}

.background-primary{
  background-color: $color-primary !important;
}

.block-right { //Schattierte Blöcke in der rechten Spalte
	border: 1px solid #f1f1f1;
	box-shadow: 10px 11px 9px -11px rgba(87, 87, 87, 0.63);
	margin-bottom: 20px;
	padding: 25px;
	border-radius: 6px;
  background-color: #f3f3f3;
  margin-top: 2.7rem !important;
        h3 {
              color: $color-primary;
              font-size: 1rem;
        }
        a {
            color: $color-primary;
            display: block;
            padding: 0.25em 0;
            text-decoration: none;
                &::before {
                  border: 1px solid #dedede;
                  border-radius: 1.5px;
                  color: $color-tertiary;
                  content: "";
                  display: inline-block;
                  font: 0.5rem/1 "RockSolid Icons";
                  margin-right: 1.66667em;
                  padding: 0.66667em;
                  position: relative;
                  text-indent: 0;
                  text-rendering: geometricprecision;
                  top: -0.33333em;
                }
                &:hover {
                    color: $color-primary;
                    padding: 0.25em 0;
                    text-decoration: none;
        }
      }
      .ds-link {
      	display: inline;
      	&:before {
      		content: none;
      	}
      }
        span.active, strong.active {
            color: #000000;
            display: block;
            padding: 0.25em 0;
            text-decoration: none;
          	font-weight: bold;
                &::before {
                  border: 1px solid #dedede;
                  border-radius: 1.5px;
                  color: $color-tertiary;
                  content: "";
                  display: inline-block;
                  font: 0.5rem/1 "RockSolid Icons";
                  margin-right: 1.66667em;
                  padding: 0.66667em;
                  position: relative;
                  text-indent: 0;
                  text-rendering: geometricprecision;
                  top: -0.33333em;
                }
        }
        .ds-content {
        	font-size: 0.8rem;
        	text-align: justify;
        }
	}
	
/*Wichtiger Zusatz zu block-right um das Linksymbol vor Bildern zu entfernen */	
.image_container a:before {
    display: none;
}


/*Navigation Sidebar */

.nav-rechts {
  display: none;
  border: 1px solid #f1f1f1;
	box-shadow: 10px 11px 9px -11px rgba(87, 87, 87, 0.63);
	margin-bottom: 20px;
	padding: 25px;
	border-radius: 6px;
  background-color: #fff;
  margin-top: 2.7rem !important;
        h3 {
              color: $color-primary;
              font-size: 1rem;
              font-weight: 400;
        }
        a {
            color: $color-primary;
            display: flex;
            padding: 0.25em 0;
            text-decoration: none;
                &:before {
                  border: 1px solid #dedede;
                  border-radius: 1.5px;
                  color: $color-tertiary;
                  content: "";
                  display: inline-block;
                  font: 0.5rem/1 "RockSolid Icons";
                  margin-right: 1.66667em;
                  padding: 0.66667em;
                  position: relative;
                  text-indent: 0;
                  text-rendering: geometricprecision;
                  top: -0.33333em;
                  height: 100%;
                  margin-top: 4px;
                }
                &:hover {
                    color: $color-primary;
                    text-decoration: none;
        }
      }
        span.active {
            color: #000000;
            text-decoration: none;
            font-weight: bold;
            display:flex;
            padding: 0.25em 0;
                &:before {
                  border: 1px solid #dedede;
                  border-radius: 1.5px;
                  color: $color-tertiary;
                  content: "";
                  display: inline-block;
                  font: 0.5rem/1 "RockSolid Icons";
                  margin-right: 1.66667em;
                  padding: 0.66667em;
                  position: relative;
                  text-indent: 0;
                  top: -0.33333em;
                  height: 100%;
                  margin-top: 4px;
                }
        }
	}


.kontakt-block {
 	border: 1px solid #f1f1f1;
	background: #f8f8f8 none repeat scroll 0 0;
	padding: 26px;
	margin-bottom: 20px;
	color: #777777;
  border-radius: 6px;
  margin-top: 2.7rem !important;
  box-shadow: 10px 11px 9px -11px rgba(87, 87, 87, 0.63);
        p {
            color: #777777;
            margin: 0.88889em 0;
        }
        h1 {
            color: $color-primary;
        }
}


/*===News===*/
.news-image-teaser time:before {
	font: 0.69444em/1 "RockSolid Icons";
    content: "\e06b";
    text-indent: 0;
    display: inline-block;
    position: relative;
    display: block;
    margin: -1px -1px 0.08em -1px;
    padding: 0.72em 0;
    color: white;
    background-color: $color-tertiary !important;
}

/*===Eventliste===*/
.eventliste .upcoming {
    margin: 10px 0;
    &::before {
      /* content: "\f073"; */
      font-family: "FontAwesome";
      font-size: 1.2rem;
      margin-right: 10px;
    }
    .date {
      display: bock;
    }
    a {
      display: block;

      }
    }


//News mit Bild
.news-image--list {
  display: flex !important;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  
  .layout_latest {
    position: relative;
    transition-duration: 0.2s;
    margin-bottom: 20px;

    .inner {
      height: 580px;
      padding: 10px;
      transition-duration: 0.2s;
      background-color: #f5f5f5;
      margin-top: 0.5em;
      &:hover {
        transition-duration: 0.2s;
        transform: translateY(-5px);
        -webkit-box-shadow: 14px 14px 21px -13px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 14px 14px 21px -13px rgba(0, 0, 0, 0.75);
        box-shadow: 14px 14px 21px -13px rgba(0, 0, 0, 0.75);
        background-color: rgba(0,0,0,0.07);
      }
      .info {
        background-color: none;
        width: 150px;
        color: black;
        font-weight: 600;
        text-decoration: none;
        font-size: 13px;
      }
      .image_container.float_right, .image_container.float_left{
        width: 100%;
      }
    }

  }
}

/*===Newsarchiv-Monatsueberschrift===*/	
.mod_newsarchive {
	h1, h2{
    color: $color-secondary;
    margin-right: 12em;
    margin-left: 15px;
	}
}

/* .news-image--list {
  display: flex !important;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  .layout_latest {
    position: relative;
    transition-duration: 0.2s;
    margin-bottom: 20px;
    .inner {
      min-height: 600px;
      border: solid 2px darkgrey;
      background-color: #ebebeb;
      padding: 10px;
      transition-duration: 0.2s;
      &:hover {
        transition-duration: 0.2s;
        transform: translateY(-5px);
        -webkit-box-shadow: 14px 14px 21px -13px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 14px 14px 21px -13px rgba(0, 0, 0, 0.75);
        box-shadow: 14px 14px 21px -13px rgba(0, 0, 0, 0.75);
      }
      .info {
        background-color: $color-secondary;
        width: 150px;
        color: #fff;
        font-weight: 600;
        text-align: center;
        text-decoration: none;
      }
    }

  }
} */

/*========================================================Footer */

.page-footer {
    clear: both;
    margin: 40px auto 0px auto;
    background-color: $color-secondary;
      a, p{
      color: #000;
    }
    a:active{
      color: #000;
    }
	  span{
      color: #000;
	  font-weight: 600;
    }
  
    h3 {
	  color: $color-primary;
      border-bottom: solid 2px $color-primary;
      padding-bottom: 10px;
      text-transform: uppercase;
    }
}

.footer-inside {
    margin: auto;
    max-width: 1200px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.footer-info {
  font-size: 0.8rem;
    img{
      margin-right:10px;
  }
  span{
    color: #000;
  }
}

#Footer-Attachemend {
  background-color: $color-primary;
    .inner {
        max-width: 1200px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
            .left {
              float:left;
            }
            .right {
              float: right;
        }
    }
}

.rsts-slides, .rsts-slide, .rsts-thumbs-slides, .rsts-thumbs-slide {
    position: absolute;
    left: 0;
    top: 0;
}


.imonial p {
    color: #000;
    font-size: 1rem;
    font-style: italic;
    margin: 5px;
}




/*=============================================Module & Erweiterungen*/

/*===========Zoom in Bild Effekt==*/

.zoom-in figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.zoom-in figure:hover img {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
  //filter:sepia(1);
}

/*===========Text Rising Bild Effekt==*/
.image_container {
    border-radius: 0  !important;
    box-shadow: none !important;
    border: none;
    background: none;
    margin: 0;
    overflow: hidden;
    padding:0px;
     a {
       overflow: hidden;
     }
}

.text-rise {
  .image_container {
    background-color: $color-primary;
    &:hover {
      img {
      opacity: 0.2;
    }
      .caption{
        transform: translateY(-240px);
        transition-duration: 0.5s;
      }
      }
    }
    figcaption {
    font-size: 2rem !important;
    color: #fff !important;
    position: absolute;
    bottom: -150px;
    left: 15%;
    text-align: center;
    text-transform: uppercase;
    right: 15%;
}
}




/*===========Icon Boxen==*/

.icon-boxes-item[data-icon]{

  &::before {
    margin: 0 0 10px 0;
    padding: 2rem;
    border: 1px solid #dedede;
    border-radius: 50%;
    font-size: 2rem;
    color: $color-primary;
  }
}
/*===========Syndikationen (Print-Icon,...)==*/
.pdf_link-wrapper {
  font-size: 0.8rem;

  .pdf_link {
    float: right;
      display: table;
      margin: 0px;
    a {
      margin-left: 0.11111em;
      color: #fefefe;
      padding: 0px 8px;
      background-color: #b0b0b0;
      border-radius: 5px;
      height: 2px;
      transition: 0.2s;
      &:hover {
        background-color: $color-primary;
      }
    }
  }
}
.syndication {
  float: right;
    display: table;
    margin-top: 0.5rem;
    font-size: 0.8rem;
  a {
    margin-left: 0.11111em;
    color: #fefefe;
    padding: 0px 8px;
    background-color: #b0b0b0;
    border-radius: 5px;
    height: 2px;
    transition: 0.2s;
    &:hover {
      background-color: $color-primary;
    }
  }
}

/*===========Quotes==*/

.main-content blockquote {
  padding-left: 20px;
}

/*==========Tabellen==*/

table {
  th {
    background: $color-primary;
    color: #fff;
  }
}


/*===========Lightbox Styling*/

#mbCenter {
  background-color: #505050;
}

#mbImage {
  font-family: $font-secondary;
}

/*===========DS-Hnweisbox Google Maps*/

#confirm-googlemaps {
    text-align: center;
    width: 75%;
	}


/*===========Downloads*/
.ce_downloads {
    margin: 1.5em 0;
    padding: 0 0 0.25em;
    border: 1px solid $color-tertiary;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
	-webkit-box-shadow: 0 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 rgba(0, 0, 0, 0.1);
    font-size: 1em;
	background: #f3f3f3;
		h1, h2, h3, h4 {
			font-family: $font-primary;
			font-size: 1.25em;
			margin: 0;
			padding: 0.5em 0.75em 0.25em;
			font-weight: 400;
			letter-spacing: normal;
			color: #ffffff;
			text-transform: none;
			background: $color-primary;
			-webkit-border-radius: 6px 6px 0 0;
			-moz-border-radius: 6px 6px 0 0;
			border-radius: 6px 6px 0 0;
			}
		li {
			margin: 1em;
		}
		a:hover {
			color: $color-primary-darken;
		}
}

.ce_download {
    padding: 0 0 0.25em;
    border: 1px solid $color-tertiary;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    font-size: 1em;
	background: #f3f3f3;
    a{
      &:hover {
        color: $color-primary-darken;
        transition-duration: 0.2s;
      }
    }
	p {
		margin: 1em 1em 0.5em;
	}
	h1, h2, h3, h4 {
		font-size: 1.25em;
		margin: 0;
		padding: 0.5em 0.75em 0.25em;
		color: #ffffff;
		background: $color-primary;
		-webkit-border-radius: 6px 6px 0 0;
		-moz-border-radius: 6px 6px 0 0;
		border-radius: 6px 6px 0 0;
		}
}

img.mime_icon {
    display: none;
}

/*===========News (Blog)*/

/*===========Paginierung Blog*/

.pagination ul {
    list-style-type: none !important;
    text-align: center;
    margin: 0 auto;
}

.pagination {
    margin: 0 auto;
	min-width: 51%;
}


.news-boxes-item {
  padding: 10px;
  min-height: 260px;
  border: solid 2px lightgrey;
  background-color: #f8f8f8;
    a {
      color: #fff;
      text-decoration: none;
    }
    .news-boxes-item-more{
      margin-top: 70px; //Übergangslösung
      background: $color-secondary;
      text-align: justify;
      padding: 10px;
      width: 100%;
    }
    h2 {
      color: #fff;
      a {
        color: $color-primary;
    }
  }
}

p.news-boxes-item-more a:last-child::after {
    font-family: "fontawesome";
    content: "\f067";
    font-size: 1.2rem;
    margin-left: 10px;
}


  .ce_text ul, .ce_text ol{
		color: #555;
	    list-style-type: circle;
	    margin-left: 15px;
	}


	.enclosure h4, .ce_downloads h4 {
	    background: #cccccc none repeat scroll 0 0 !important;
	    color: #ffffff;
	    font-size: 0.75rem;
	    font-weight: 600;
	    letter-spacing: 0.08333em;
	    margin: -1.75em -2.58333em 1.66667em;
	    padding: 0.66667em 1.66667em;
	    text-transform: uppercase;
	}

//Bildergalerie
.image-gallery{
  .image_container {
    &:hover {
    filter: brightness(1.1);
    transition-property: filter;
    transition-duration: .3s;
  }
  }
}
.ce_gallery > ul:before{ //sorgt dafür, dass bei display:grid erstes Element nicht leer ist
  content: unset !important;
}


//Akkordeon
.ce_accordion {
  width: 100%;
  background: none;
  border: 1px solid #dedede;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-bottom: 0.5em;
  .toggler {
      background-color:  #dedede;
      font-size: 1.2rem;
      color: $color-primary;
      padding: 10px 20px;
        a{
          text-decoration: none;
        }
  }
  .ui-accordion-content {
    padding: 20px;
    font-size: 1rem;
    background-color: #ffffff;
  }
}


///Instagram

#instafeed {
  display: flex;
  justify-content: space-between;
}

.likes-container  {
position: absolute;
height: 100%;
width: 100%;
top: 0;
left: 0;
background-color: rgba(0, 0, 0, 0.3);
transition: .5s ease;
width: 0%;
overflow: hidden;

}

.insta-pic:hover .likes-container  {
	width: 100%;
}

.likes-container span {
position: absolute;
font-size: 2rem;
font-weight: 600;
color: #fff;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.likes-container span::before {
	font-family: "fontawesome";
	font-weight: 400;
	content: "\f004";
	display: inline;
	margin-right: 10px;
}

.insta-pic {
	position: relative;
	padding: 0px !important;
	//width: 80px;
	//height: 80px;
  overflow: hidden;
}

.insta-pic img {
	display: block;
	width: 100%;
	height: auto;
}

.i-container {
	padding: 15px;
  &:first-child {
    padding-left: 0px;
  }
  &:nth-child(3) {
    padding-right: 0px;
  }
}

/* ___________ CONTENT END_________*/

/* ____________FULL WIDTH Content_________*/


.active.home.first {
    color: #ffffff !important;
}

.main-nav-icon a::before {
    border: 1px solid #dedede;
    border-radius: 1.5px;
    color: $color-primary;
    content: "";
    display: inline-block;
    font: 0.375em/1 "RockSolid Icons";
    margin-right: 1.66667em;
    padding: 0.66667em;
    position: relative;
    text-indent: 0;
    text-rendering: geometricprecision;
    top: -0.33333em;
}

/* ____________NEWS - BLOCK _________*/

.news-image-teaser {
    margin: -16px 0 2em;
    padding: 0 0 0 12.5%;
    position: relative;
}

.news-image-teaser h1 {
    color: #000000;
    letter-spacing: 0.2em;
    margin-bottom: -3px;
    margin-top: 3em;
    text-transform: uppercase;
}

.news-image-teaser time {
    background: #ffffff linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.02)) repeat scroll 0 0;
    border: 1px solid #dedede;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    color: #8a8a8a;
    font-weight: 600;
    left: 0;
    line-height: 1;
    position: absolute;
    text-align: center;
    top: 0.19444em;
    width: 9.375%;
}

.news-image-teaser p {
    color: #8a8a8a;
    margin: 0.66667em 0;
}

.news-image-teaser .news-image-teaser-more {
    margin-top: -8px;
    text-transform: uppercase;
}



/* ____________Footer _________*/


.footer-news {
    width: auto;
    float: left;
    margin-right: 20px;
    color: #fff;
    text-transform: none;
}


#footer-teaser {
	color: #fff;
}
	.footer-news h1{
    font-weight: bold !important;
    letter-spacing: 0 !important;
    margin-bottom: -3px;
    margin-top: 3em;
    text-transform: none !important;
	}



.submit_container {
	margin-top: 10px;
  padding: 0;
}


/* ____________Footer _________*/

.start-right-column {
	float: right;
}


.icon-boxes-item p {
	text-align: justify;
}

.rsts-slides, .rsts-slide, .rsts-thumbs-slides, .rsts-thumbs-slide {
    position: absolute;
    left: 0;
    top: 0;
}

.logo ~ .tag-line {
	    min-height: 2.5em;
}



	.ce_text ul, .ce_text ol{
		color: #555;
	    list-style-type: circle;
	    margin-left: 15px;
	}


.info-row {
    background: $color-primary;
    padding: 0 20px;
  }


	.enclosure h4, .ce_downloads h4 {
	    background: #cccccc none repeat scroll 0 0 !important;
	    color: #ffffff;
	    font-size: 0.75em;
	    font-weight: 600;
	    letter-spacing: 0.08333em;
	    margin: -1.75em -2.58333em 1.66667em;
	    padding: 0.66667em 1.66667em;
	    text-transform: uppercase;
	}
	
/* ___________ Back-to-top Button_________*/	

.btn-to-top {
  background-color: $color-primary;
  position: fixed;
  z-index: 100;
  bottom:16px;
  right:16px;
  width:50px;
  height:50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:32px;  
  color:#ffffff;
  text-decoration: none;
  opacity:0;
  pointer-events: none;
  transition: all .4s;
	a:focus {text-decoration: none}
}
.btn-to-top {
text-decoration: none;
&:hover, &:focus {
    background-color: $color-primary-darken;
	text-decoration: none;
	}
}

.btn-to-top.active {
  bottom:32px;
  pointer-events: auto;
  color:#ffffff;
  opacity:0.75;
  
}


/* ___________ CONTENT END_________*/

/* ____________FULL WIDTH Content_________*/

/* ____________MEGANAVI END _________*/


/* ____________NEWS - BLOCK _________*/

.news-image-teaser {
    margin: -16px 0 2em;
    padding: 0 0 0 12.5%;
    position: relative;
}

.news-image-teaser time {
    background: #ffffff linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.02)) repeat scroll 0 0;
    border: 1px solid #dedede;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    color: #8a8a8a;
    font-size: 1.2em;
    font-weight: 600;
    left: 0;
    line-height: 1;
    position: absolute;
    text-align: center;
    top: 0.19444em;
    width: 9.375%;
}

.news-image-teaser p {
    color: #8a8a8a;
    font-size: 11px;
    margin: 0.66667em 0;
}

.news-image-teaser .news-image-teaser-more {
    font-size: 11px;
    margin-top: -8px;
    text-transform: uppercase;
}
//Newsletter
.newsletter-submit {
  input[type="text"] {
    width: 80%;
    padding: 5px;
    display:inline;
    vertical-align: middle;
  }
  button {
   width: 18% !important;
   display:inline;
   height: 31px;
   .fa, .fas, .far{
     font-size: 21px;
   }
  }
  .ds-content {
    margin-top: 10px;
  }
}
//Livezilla
.lz_chat_unselectable .lz_overlay_wm_button .lz_overlay_wm_sh_act .lz_anim_slide_in {
  background-color: $color-primary;
}
//blaue Farbe aus der main.css wird hier überschrieben 
html {
  -webkit-tap-highlight-color: none;
}
a {
	color: $color-primary;
}
.information {
	color: #E6E6E6;
}
p.information:before,
div.information:before,
span.information:before {
	background: #E6E6E6;
}
.header-navigation {
	color: #E6E6E6;
}
.main-content blockquote:before {
	color: #E6E6E6;
}
.sidebar-news .layout_latest:before {
	background: #E6E6E6;
}
input:focus,
textarea:focus {
	border-color: #E6E6E6 #E5E5E5 #E4E4E4;
}
.main-content label .mandatory {
	color: #E6E6E6;
}
a:hover .teaser-boxes-item-image:after,
a:focus .teaser-boxes-item-image:after {
	background: #E6E6E6;
}
.icon-boxes-item[data-icon]:before {
	color: #E6E6E6;
}
.icon-boxes-item[data-icon]:before {
  color: #E6E6E6;
}
.icon-boxes-item-link {
	color: #E6E6E6;
}
.newsletter-box {
  background: #E6E6E6;
}
.icon-links a:before {
	color: #E6E6E6;
}
/* .ce_accordion .toggler {
  color: ;
} */
/* .ce_accordion .toggler:before {
  background: $color-primary;
  content: "/e009";
} */
.rsts-skin-testimonials .rsts-prev:after,
.rsts-skin-testimonials .rsts-next:after {
	background: #E6E6E6;
}
.news-image-teaser time:before {
	background: #E6E6E6;
}
.mod_sitemap > ul > li:before {
	color: #E6E6E6;
}
.ce_accordion .toggler:before {
  font: 0.77778em/1 "RockSolid Icons";
  content: "\e009";
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  text-indent: 0;
  display: inline-block;
  position: relative;
  top: 0.42857em;
  float: right;
  color: #ffffff;
  background: $color-primary;
}

/*____________Klassen für Backend-Auswahl___________*/
.background-primary{
  background-color: $color-primary !important;
  width: 100%;
  height: auto;
  padding: 3%;
  margin-bottom: 3rem;
  .image_container.float_right, .image_container.float_left{
    width: 50%;
  }
}
.background-secondary{
  background-color: $color-secondary !important;
  width: 100%;
  height: auto;
  padding: 3%;
  margin-bottom: 3rem;
  .image_container.float_right, .image_container.float_left{
    width: 50%;
  }
}
.background-tertiary{
  background-color: $color-tertiary !important;
  width: 100%;
  height: auto;
  padding: 3%;
  margin-bottom: 3rem;
  .image_container.float_right, .image_container.float_left{
    width: 50%;
  }
}
.color-primary{
  color: $color-primary !important;
}
.color-secondary{
  color: $color-secondary !important;
}
.color-tertiary{
  color: $color-tertiary !important;
}


